// Bootstrap brand color customization
$brand-primary: $amethyst !default;
$brand-success: $laurel !default;
$brand-danger: $pomegranate !default;
$brand-warning: $jaffa !default;
$brand-info: $bleached-cedar !default;
$brand-rose: $pink !default;
